### Data Set : default of credit card clients

Goal:

o 2-3 pages report 

o Hypothesis developed 

o Justification of ML techniques

### Dataset contains information on default payments such as 

o demographic factors,

o credit data, 

o history of payment, and 

o bill statements 

of credit card clients in Taiwan from April 2005 to September 2005.

In [136]:
# Importing necessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score

df = pd.read_excel('default of credit card clients.xls', skiprows=range(1))
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [137]:
df.rename(columns={'PAY_0':'PAY_1'},inplace=True)
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

The first six columns include clients' balance limit and other statistics such as age, sex, marriage, etc.

Next six column describe clients' payment records in terms of time records, i.e.; whether a payment was made on time or not. If it was late, then how many months late. If it were paid ahead of the time, then how many months earlier.

As we see, time records for pay varies as following where '-1' stands for payment made on time.

> -1 means paid earlier than pay date

In [138]:
df['PAY_1'].apply(lambda x: 1 if(x<0) else 0).value_counts()

0    21555
1     8445
Name: PAY_1, dtype: int64

As we see out of 30,000 customer, raughly 26 thousand paid on time or before the time; which is raughly 72%.

Now we would apply binary classification for all the six pay columns

In [139]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [140]:
cols = ['PAY_1','PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']

In [141]:
for col in cols:
    df[col].apply(lambda x: 1 if (x<0) else 0).value_counts()
    print(df[col].apply(lambda x: 1 if (x<0) else 0).value_counts())

0    21555
1     8445
Name: PAY_1, dtype: int64
0    20168
1     9832
Name: PAY_2, dtype: int64
0    19977
1    10023
Name: PAY_3, dtype: int64
0    19965
1    10035
Name: PAY_4, dtype: int64
0    19915
1    10085
Name: PAY_5, dtype: int64
0    19365
1    10635
Name: PAY_6, dtype: int64

Now we would apply logistic regression based on binary classification for the six pay columns.

## LogisticRegression

In [142]:
x_tr, x_t, y_tr, y_t = train_test_split(df[cols], df['default payment next month'], test_size=0.4)
lr = LogisticRegression()
lr.fit(x_tr, y_tr)
y_p = lr.predict(x_t)
print( ' Accuracy score : %0.4f' %accuracy_score(y_t, y_p))

 Accuracy score : 0.8110

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

The logistic regression model applied above assign 'random_state' randomly, so every time it is compiled, the accuracy score it returns is not exactly same as before. We can also vary the the 'test_size' in train_test_split and average the accuracy score.

Now I would apply Gaussian Naive Bayes

## Gaussian Naive Bayes

In [143]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(df[cols], df['default payment next month'])

GaussianNB(priors=None, var_smoothing=1e-09)

In [144]:
y_p = gnb.predict(x_t)
accuracy_score(y_t, y_p), roc_auc_score(y_t, y_p)

(0.8038333333333333, 0.6673536088615544)

Applying DecisionTreeClassifier we obtain

## Decision Tree Classifier

In [145]:
dtc = DecisionTreeClassifier()
dtc.fit(x_tr, y_tr)
y_t = dtc.predict(x_t)
print( ' Accuracy score using DecisionTreeClassifier : ', accuracy_score(y_t, y_p))

 Accuracy score using DecisionTreeClassifier :  0.91025

### Clearly we see there is a big difference in accuarcy score while using DecisionTreeClassifier i.e.; about 0.9105


- "Hypothesis developed"