In [127]:
# Necessary packages are impoorted here 
import pandas as pd
import numpy as np
import scipy as sp
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn.metrics import accuracy_score

In [128]:
df = pd.read_excel("../DATA/default of credit card clients.xls", skiprows=range(1))
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

Here we will mainly address Col6-Col11 that mainly describe the past maonthly payment records atrting from April 
to September 2005. For col6-11 the measurement scale for the repayment status are following:

-1 <= pay duly or before the due date 
1   = payment delayed for one month 
2   = payment delayed for two months 
.
.
9   = payments delayed for nine months 

In terms of payment records we can introduce feature engineering using col 13-18 and col18-24. We will include the following features such as

1 = when payments are made as full balance or more than that 

2 = 75% payments are made 

3 = 50% payments are made 

4 <50% payments are made

In [129]:
PAY = []
for idx in range(6): 
    for j in range(len(df)): # len(df)
        if (df[str(df.columns[idx+11])].iloc[j]) <= (df[str(df.columns[idx+17])].iloc[j]):
            PAY.append(1)
        elif (df[str(df.columns[idx+11])].iloc[j]) < 0.75*(df[str(df.columns[idx+17])].iloc[j]):
            PAY.append(2)
        elif (df[str(df.columns[idx+11])].iloc[j]) < 0.50*(df[str(df.columns[idx+17])].iloc[j]):
            PAY.append(3)
        elif (df[str(df.columns[idx+11])].iloc[j]) < 0.25*(df[str(df.columns[idx+17])].iloc[j]):
            PAY.append(4)
        else:
            PAY.append(5)

In [130]:
payr = np.array(PAY).reshape(6, len(df))
payr[:,0:10]

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [5, 5, 5, 5, 5, 5, 5, 5, 5, 1],
       [5, 5, 5, 5, 1, 5, 5, 1, 5, 1],
       [5, 5, 5, 5, 5, 5, 5, 5, 5, 1],
       [1, 5, 5, 5, 5, 5, 5, 1, 5, 1],
       [1, 5, 5, 5, 5, 5, 5, 1, 5, 5]])

In [131]:
col = ['PAY-FE-1', 'PAY-FE-2', 'PAY-FE-3', 'PAY-FE-4', 'PAY-FE-5', 'PAY-FE-6']
for idx in range(6):
    df[col[idx]] = payr[idx,:]

df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month,PAY-FE-1,PAY-FE-2,PAY-FE-3,PAY-FE-4,PAY-FE-5,PAY-FE-6
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,1,1,5,5,5,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,0,2000,1,1,5,5,5,5,5
2,3,90000,2,2,2,34,0,0,0,0,...,1000,1000,5000,0,1,5,5,5,5,5
3,4,50000,2,2,1,37,0,0,0,0,...,1100,1069,1000,0,1,5,5,5,5,5
4,5,50000,1,2,1,57,-1,0,-1,0,...,9000,689,679,0,1,5,1,5,5,5

In [132]:
df['default-payment'] = df['default payment next month']

In [133]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT5,PAY_AMT6,default payment next month,PAY-FE-1,PAY-FE-2,PAY-FE-3,PAY-FE-4,PAY-FE-5,PAY-FE-6,default-payment
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,1,1,5,5,5,1,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,0,2000,1,1,5,5,5,5,5,1
2,3,90000,2,2,2,34,0,0,0,0,...,1000,5000,0,1,5,5,5,5,5,0
3,4,50000,2,2,1,37,0,0,0,0,...,1069,1000,0,1,5,5,5,5,5,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,689,679,0,1,5,1,5,5,5,0

In [134]:
df['PAY-FE-1'].value_counts()

1    29340
5      624
4       23
3       13
Name: PAY-FE-1, dtype: int64

In [135]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month', 'PAY-FE-1', 'PAY-FE-2', 'PAY-FE-3',
       'PAY-FE-4', 'PAY-FE-5', 'PAY-FE-6', 'default-payment'],
      dtype='object')

In [136]:
x_tr, x_t, y_tr, y_t = train_test_split( df[['PAY-FE-1', 'PAY-FE-2', 'PAY-FE-3', 'PAY-FE-4',
       'PAY-FE-5', 'PAY-FE-6']].values, (df['default payment next month']==1).values, test_size=0.18, random_state=42 )
lr = LogisticRegression()
lr.fit(x_tr, y_tr)
y_p = lr.predict(x_t)
print( 'Accuracy score %0.2f' %accuracy_score(y_t, y_p))

Accuracy score 0.78

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

- If we include records regarding whether payments were made timely, we would include 
df[ ['PAY0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'] ]

In [137]:
x_tr, x_t, y_tr, y_t = train_test_split( df[['PAY_0','PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6','PAY-FE-1', 'PAY-FE-2', 'PAY-FE-3', 'PAY-FE-4',
       'PAY-FE-5', 'PAY-FE-6']].values, (df['default payment next month']==1).values, test_size=0.18, random_state=42 )
lr = LogisticRegression()
lr.fit(x_tr, y_tr)
y_p = lr.predict(x_t)
print( 'Accuracy score %0.2f' %accuracy_score(y_t, y_p))

Accuracy score 0.81

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

- Now I would use decision tree classifier for prediction

In [138]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier(random_state=100)
dtc.fit(x_tr, y_tr)
y_p = dtc.predict(x_t)
print(' Accuracy score %0.2f' %accuracy_score(y_t, y_p) )

 Accuracy score 0.80