In [ ]:
# blake test comment

In [43]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_excel('default of credit card clients.xls', skiprows=range(1))
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB
None

Default of credit card clients.xls data set consists of 25 attributes such as ‘LIMIT_BAL’, customer personal information, six payment records, also the bill amount and records of six previous payments. Dataset has 30,000 instances. For data cleaning purpose I will check pretty much all the columns such as df[‘ID’] we can see the first
column has no missing values.

Now we will change name of several columns such as the six pay records.

In [44]:
pay = ['PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
col = 0
while(col<6):
    df.rename(columns={pay[col]:'PAY'+str(col+1)}, inplace=True)
    col += 1
print(df.columns)

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY1',
       'PAY2', 'PAY3', 'PAY4', 'PAY5', 'PAY6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [29]:
print(df.head(5))

   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
0   1      20000    2          2         1   24      2      2     -1     -1
1   2     120000    2          2         2   26     -1      2      0      0
2   3      90000    2          2         2   34      0      0      0      0
3   4      50000    2          2         1   37      0      0      0      0
4   5      50000    1          2         1   57     -1      0     -1      0

              ...              BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
0             ...                      0          0          0         0
1             ...                   3272       3455       3261         0
2             ...                  14331      14948      15549      1518
3             ...                  28314      28959      29547      2000
4             ...                  20940      19146      19131      2000

   PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  \
0       689         0         0         0         0
1      1000      1000      1000         0      2000
2      1500      1000      1000      1000      5000
3      2019      1200      1100      1069      1000
4     36681     10000      9000       689       679

   default payment next month
0                           1
1                           1
2                           0
3                           0
4                           0

[5 rows x 25 columns]

In [46]:
idx = 0 
while (idx<len(df.columns)):
    print(df[str(df.columns[idx])].isna().value_counts())
    idx += 1

False    30000
Name: ID, dtype: int64
False    30000
Name: LIMIT_BAL, dtype: int64
False    30000
Name: SEX, dtype: int64
False    30000
Name: EDUCATION, dtype: int64
False    30000
Name: MARRIAGE, dtype: int64
False    30000
Name: AGE, dtype: int64
False    30000
Name: PAY1, dtype: int64
False    30000
Name: PAY2, dtype: int64
False    30000
Name: PAY3, dtype: int64
False    30000
Name: PAY4, dtype: int64
False    30000
Name: PAY5, dtype: int64
False    30000
Name: PAY6, dtype: int64
False    30000
Name: BILL_AMT1, dtype: int64
False    30000
Name: BILL_AMT2, dtype: int64
False    30000
Name: BILL_AMT3, dtype: int64
False    30000
Name: BILL_AMT4, dtype: int64
False    30000
Name: BILL_AMT5, dtype: int64
False    30000
Name: BILL_AMT6, dtype: int64
False    30000
Name: PAY_AMT1, dtype: int64
False    30000
Name: PAY_AMT2, dtype: int64
False    30000
Name: PAY_AMT3, dtype: int64
False    30000
Name: PAY_AMT4, dtype: int64
False    30000
Name: PAY_AMT5, dtype: int64
False    30000
Name: PAY_AMT6, dtype: int64
False    30000
Name: default payment next month, dtype: int64

As a check the type of missing values isna reports I would like to include the following extra analysis

In [50]:
df_missing_values = pd.DataFrame({'lett':['A', 'B', 'C'], 'num':[1, None, 3], 'val':[10, 30, np.NaN]})
print(df_missing_values)

  lett  num   val
0    A  1.0  10.0
1    B  NaN  30.0
2    C  3.0   NaN

In [51]:
df_missing_values['num'].isna().value_counts()

False    2
True     1
Name: num, dtype: int64

In [52]:
df_missing_values['val'].isna().value_counts()

False    2
True     1
Name: val, dtype: int64

Above steps shows that default of credit card clients.xls data set does not have any ‘NaN’ or None.